.sidebarOptions{
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-left: 2px;
    cursor: pointer;
}

.sidebarOptions:hover{
    background-color: white;
    color: #9397FF;
    opacity: 0.9;
}

.sidebarOptions__icon{

    padding: 10px ;
    font-size: 15px !important;
}

.sidebarOptions__class{
    padding: 10px 0;
}

.sidebarOptions__hash{
    padding: 10px;
}

.sidebarOptions > h3{

    padding-right: 10px !important;
    font-weight: 500;
}
