.sidebar{

    color: white;
    background-color: #9397FF;
    border-top: 1px solid white;
    max-width: 260px;
    
 
}

.sidebar__menu > hr {

    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid white;

}

.sidebar__header{
    display: flex;
    background-color: #FFC700;
    color: black;
    border-top: 1px solid white;
    align-items: center;
    font-weight: 400;
    flex: 1;
    padding: 5px
}

.sidebar__header > h5 {

    font-weight: 700;
    font-size: 11px;
    margin-bottom: 5px;
    align-items: center;
    padding-left: auto;
}
